1. Каждое задание отправляется в виде архива zip с названием HW_<номер домашки>.zip
2. Внутри архива каталог с таким же названием
3. Внутри каталога подкаталоги include, src, out и файл Makefile
4. cpp - файлы в каталоге src, hpp файлы - в каталоге include, каталог out ПУСТ.
5. Проекты, не подходящие под эти условия и не собирающиеся командой make с флагами компилятора -Wall -Werror автоматически не проходят проверку.
