1. Добавляем новые заказы (с указанием времени, адреса и набора пицц)
2. Отмечать заказы как доставленные
3. Добавлять новые сорта пицц
4. Отображать заказы (доставленные и нет)

Пицца:
   - название

Заказ:
   - адрес
   - время
   - список пицц
   - доставлен / недоставлен