1. Добавлять предмет в каталог предметов. Допускаются дубликаты.
2. Создание рецепта с определенным именем, ингредиентами, результатом
3. Применение рецепта на каталоге предметов с изменением состава предметов. Если предметов нет, каталог не меняется.